{% extends "../base.html" %}
{% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">{% for item in customers %}
                                <a class="nav-link{% if item.ID == customer.ID %} active{% endif %}" href="/order/{{ item.ID.Hex() }}" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">{{ item.Name }}</a>{% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="float-left">Order</h4>
                            </div>
                            <div class="table{% if orders|length == 0 %} mb-0{% endif %}">
                                <div class="thead">
                                    <div class="tr">
                                        <div class="th">Symbol</div>
                                        <div class="th">Type</div>
                                        <div class="th">Side</div>
                                        <div class="th">PositionSide</div>
                                        <div class="th">Quantity</div>
                                        <div class="th">EntryTime</div>
                                        <div class="th">EntryPrice</div>
                                        <div class="th">CloseTime</div>
                                        <div class="th">ClosePrice</div>
                                        <div class="th">RealizedPnl</div>
                                    </div>
                                </div>
                                <div class="tbody">{% for item in orders %}
                                    <div class="tr">
                                        <div class="td" data-title="Symbol">{{ item.Symbol }}</div>
                                        <div class="td" data-title="Type">{{ item.Type }}</div>
                                        <div class="td{% if item.Side|upper =='SELL' %} text-yellow{% elif item.Side|upper =='BUY' %} text-aqua{% else %}{% endif %}" data-title="Side">{{ item.Side }}</div>
                                        <div class="td{% if item.PositionSide|upper =='SHORT' %} text-red{% elif item.PositionSide|upper =='LONG' %} text-green{% else %}{% endif %}" data-title="PositionSide">{{ item.PositionSide }}</div>
                                        <div class="td" data-title="Quantity">{{ item.Quantity }}</div>
                                        <div class="td" data-title="EntryTime">{{ item.EntryTime|unixmilli|time:"2006-01-02 15:04:05" }}</div>
                                        <div class="td" data-title="EntryPrice">{{ item.EntryPrice }}</div>
                                        <div class="td" data-title="CloseTime">{% if item.CloseTime > 0 %}{{ item.CloseTime|unixmilli|time:"2006-01-02 15:04:05" }}{% endif %}</div>
                                        <div class="td" data-title="ClosePrice">{% if item.ClosePrice > 0 %}{{ item.ClosePrice }}{% endif %}</div>
                                        <div class="td" data-title="ClosePrice">{% if item.ClosePrice > 0 %}{% if item.PositionSide == 'LONG' %}{{ (item.ClosePrice - item.EntryPrice)*item.Quantity }}{% else %}{{ (item.EntryPrice - item.ClosePrice )*item.Quantity }}{% endif %}{% endif %}</div>
                                    </div>{% endfor %}
                                </div>
                            </div>
                            <div class="tfoot{% if (orders|length > 0) %} d-none{% endif %}">No Data</div>
                            <nav class="pagger" aria-label="Page navigation" data-count="{{ count }}" data-page="{{ page }}" data-limit="{{ limit }}" data-href="/order/{{ customer.ID.Hex() }}"></nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
