{% extends "../base.html" %}
{% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">{% for item in customers %}
                                <a class="nav-link{% if item.ID == customer.ID %} active{% endif %}" href="/follow/{{ item.ID.Hex() }}" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">{{ item.Name }}</a>{% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="float-left">Follow</h4>
                            </div>
                            <div class="table{% if (items|length == 0) %} mb-0{% endif %}">
                                <div class="thead">
                                    <div class="tr">
                                        <div class="th">Symbol</div>
                                        <div class="th">Type</div>
                                        <div class="th">Side</div>
                                        <div class="th">PositionSide</div>
                                        <div class="th">Quantity</div>
                                        <div class="th">AveragePrice</div>
                                        <div class="th">RealizedPnL</div>
                                        <div class="th">Price</div>
                                        <div class="th">StopPrice</div>
                                        <div class="th">ClosePosition</div>
                                        <div class="th">Status</div>
                                    </div>
                                </div>
                                <div class="tbody">{% for item in items %}
                                    <div class="tr">
                                        <div class="td" data-title="Symbol">{{ item.Symbol }}</div>
                                        <div class="td" data-title="Type">{{ item.Type }}</div>
                                        <div class="td{% if item.Side|upper =='SELL' %} text-red{% else %} text-green{% endif %}" data-title="Side">{{ item.Side }}</div>
                                        <div class="td{% if item.PositionSide|upper =='SHORT' %} text-red{% else %} text-green{% endif %}" data-title="PositionSide">{{ item.PositionSide }}</div>
                                        <div class="td" data-title="Quantity">{% if item.OriginalQty == '0' %}-{% else %}{{ item.OriginalQty }}{% endif %}</div>
                                        <div class="td" data-title="AveragePrice">{% if item.AveragePrice == '0' %}-{% else %}{{ item.AveragePrice }}{% endif %}</div>
                                        <div class="td" data-title="RealizedPnL">{% if item.RealizedPnL == '0' %}-{% else %}{{ item.RealizedPnL }}{% endif %}</div>
                                        <div class="td" data-title="Price">{% if item.OriginalPrice == '0' %}-{% else %}{{ item.OriginalPrice }}{% endif %}</div>
                                        <div class="td" data-title="StopPrice">{% if item.StopPrice == '0' %}-{% else %}{{ item.StopPrice }}{% endif %}</div>
                                        <div class="td{% if item.IsClosingPosition %} text-red{% endif %}" data-title="ClosePosition">{{ item.IsClosingPosition }}</div>
                                        <div class="td" data-title="Status">{{ item.Status }}</div>
                                    </div>{% endfor %}
                                </div>
                            </div>
                            <div class="tfoot{% if (items|length > 0) %} d-none{% endif %}">No Data</div>
                            <nav class="pagger" aria-label="Page navigation" data-count="{{ count }}" data-page="{{ page }}" data-limit="{{ limit }}" data-href="/follow/{{ customer.ID.Hex() }}">
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
